.powermenu-box {
    @include window;
    border-radius: 16px;
    padding: 24px;
}

.powermenu-buttons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.powermenu-entry {
    text-align: center;
    .powermenu-button {
        background-color: rgba($surface_container, 0.65);
        border-radius: 12px;
        padding: 16px;
        transition: all 0.3s;
        &:hover {
            background: $primary;
            color: $on_primary;
        }
    }
    .powermenu-text {
        font-size: 0.75rem;
        color: $on_surface_variant;
        margin-top: 4px;
    }
}