.volume-control-center {
    background-color: rgba($surface_container, 0.6);
    border-radius: 12px;
    padding: 8px 12px;
    margin: 4px 0;
}

.volume-scale trough {
    background-color: $surface_variant;
    border-radius: 1rem;
    min-height: 2rem;
}

.volume-scale trough highlight {
    background-color: $primary_container;
    border-radius: 1rem;
}

.volume-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    color: $on_surface;
}

.volume-mute {
    background-color: $surface_variant;
    color: $on_surface;
    font-size: 1.3rem;
    min-width: 2rem;
    border-radius: 2rem;
    margin-left: 8px;
    transition: 0.3s;

    &.active {
        background-color: $primary;
        color: $surface;
    }
}
