window {
    font-family: "Sans";
    font-size: 14pt;
    color: #cdd6f4; /* Texto claro */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro semitransparente */
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border: none;
    border-radius: 20px;
    background-color: rgba(30, 30, 46, 0.6);
    margin: 5px;
    color: #cdd6f4;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(200, 200, 200, 0.2);
    border: 2px solid #89b4fa; /* Un borde azul suave al pasar el mouse */
}

/* Enlazando los iconos que vienen por defecto con la instalación */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}
#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
